@import "./reset.css";

@font-face {
    font-family: "Verdana-Regular";
    src: url("./../fonts/Verdana.woff");
}

@font-face {
    font-family: "Verdana-Bold";
    src: url("./../fonts/Verdana-Bold.woff");
}

body {
    background-image: url("./../img/Фон1.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Verdana-Regular";
}

.header {
    width: auto;
    height: 54px;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
}

.header-body {
    display: flex;
    width: 1410px;
    height: 20px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: space-between;
}

.header-body-link {
    text-decoration: none;
}

.header-body-logo {
    color: white;
    text-transform: uppercase;
    font-family: "Verdana-Bold";
    font-size: 20px;
}

.header-body-logo:hover {
    color: #3CB878;
    transition: 1s;
}

.header-body-register {
    display: flex;
    width: 370px;
    height: auto;
}

.header-body-register-sprite {
    display: flex;
    width: 123px;
    justify-content: space-between;
}

.calendar, .forum, .journey {
    background-image: url("./../img/Sprite.png");
}

.calendar {
    background-position: -1px -84px;
    width: 19px;
    height: 19px;
}

.calendar:hover {
    background-position: -1px -104px;
    width: 19px;
    height: 19px;
}

.forum {
    background-position: -1px -0px;
    width: 28px;
    height: 20px;
}

.forum:hover {
    background-position: -1px -21px;
    width: 28px;
    height: 20px;
}

.journey {
    background-position: -1px -42px;
    width: 20px;
    height: 20px;
}

.journey:hover {
    background-position: -1px -63px;
    width: 20px;
    height: 20px;
}

.header-body-register-line {
    border-right: 1px solid #30302e;
    margin-left: 25px;
}

.header-body-register-LogSign {
    margin-left: 25px;
    font-size: 14px;
    color: #ffffff;
    width: 200px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.logIn {
    text-decoration: none;
    color: #3CB878;
}

.logIn:hover {
    color: #3CB878;
    padding-bottom: 1px;
    border-bottom: 1px solid;
}

.signUp {
    text-decoration: none;
    color: #3CB878;
}

.signUp:hover {
    color: #3CB878;
    padding-bottom: 1px;
    border-bottom: 1px solid;
}

.container {
    width: 444px;
    height: 595px;
    background-color: #ffffff;
    margin: 65px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.container-header {
    width: 444px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
    margin-bottom: 15px;
}

.container-header-2 {
    width: 384px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign {
    font-size: 20px;
    color: #434343;
}

.sign::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    margin-right: 42px;
    vertical-align: middle;
}

.log {
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;
}

.log:hover {
    color: #3CB878;
    padding-bottom: 1px;
    border-bottom: 1px solid;
}

.container-btn {
    width: 322px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.facebook {
    width: 157px;
    height: 46px;
    background-color: #305DB8;
    border-radius: 3px;
    display: flex;
    text-decoration: none;
    align-items: center;
}

.facebook:hover { 
    background: #264B96;
}

.logo-facebook {
    background-image: url("./../img/facebook1@1X.png");
    width: 10px;
    height: 20px;
    margin-left: 20px;
}

.logo-line::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: rgba(43, 84, 165, 1);
    margin-left: 17px;
}

.face {
    font-size: 16px;
    color: #ffffff;
    margin-left: 18px;
}

.google {
    width: 157px;
    height: 46px;
    background-color: #DF4A32;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.google:hover { 
    background: #C3412C; 
}

.logo-google {
    background-image: url("./../img/G+@1X.png");
    width: 25px;
    height: 16px;
    margin-left: 13px;
}

.logo-line2::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: rgba(200, 66, 45, 1);
    margin-left: 9px;
}

.goog {
    font-size: 16px;
    color: #ffffff;
    margin-left: 24px;
}

.or {
    font-size: 14px;
    color: #848484;
    margin-bottom: 18px;
}

.or::before {
    content: "";
    display: inline-block;
    width: 135px;
    height: 1px;
    background-color: #EAEAEA;
    margin-right: 18px;
    vertical-align: middle;
}

.or::after {
    content: "";
    display: inline-block;
    width: 135px;
    height: 1px;
    background-color: #EAEAEA;
    margin-left: 18px;
    vertical-align: middle;
}

.container-box {
    width: 322px;
    height: 524px;
}
    
.text, .text2, .email, .passw, .passw2 {
    width: 302px;
    height: 46px;
    font-size: 14px;
    /* color: rgba(190, 190, 190, 0.1); */
    margin-bottom: 9px;
    border-radius: 3px;
    border: 1px solid #EAEAEA;
    padding-left: 19px;
}

.text:focus, .text2:focus, .email:focus, .passw:focus, .passw2:focus {
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.21);
}

form {
    margin-bottom: 10px;
}

.checkbox-box {
    display: flex;
    height: 20px;
    align-items: center;
    margin-bottom: 25px;
}
  
.check {
   content: " ";
   color: #000;
   display: inline-block;
   margin-right: 13px;
   position: relative;
   text-align: center;
   text-indent: 0px;
   width: 20px;
   height: 20px;
   background: #FFF;
   border: 1px solid #e3e3e3;
   border-image: initial;
   vertical-align: middle;
}

.check-p {
    font-size: 14px;
}

.terms {
    font-size: 14px;
    text-decoration: none;
    color: #3CB878;
}

.terms:hover {
    color: #3CB878;
    padding-bottom: 1px;
    border-bottom: 1px solid;
}

.btn {
    background: #3CB878;
    width: 322px;
    height: 46px;
    color: #ffffff;
    border-radius: 5px;
    border: 1px;
}

.btn:hover { 
    background: #329A65; 
}