@import "./reset.css";

body {
    font-family: 'Montserrat', sans-serif;
}

.section-1 {
    background-image: url("../img/sections_bg/section-1\(header\).jpg");
    height: 1012px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    background-position: center;
}

.header {
    height: 120px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
}

.header-cont {
    width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-icon {
    background-image: url("../img/icon/Polygon1.png");
    width: 58px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.logo-text {
    font-size: 31px;
    color: #ffffff;
    margin-left: 8px;
}

.span-ham {
    font-weight: bold;
    color: #18cfab;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu-link {
    margin: 0 9px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #b8b8b8;
    text-transform: uppercase;
}

.search-icon {
    background-image: url("../img/icon/Search_icon.png");
    width: 22px;
    height: 22px;
    margin: 0 9px;
}

.title {
    margin-top: 246px;
    text-align: center;
    margin-bottom: 142px;
}

.the_ham {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.span-wordpress {
    color: #18cfab;
}

.we_are {
    font-size: 78.5px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.just_buy {
    font-size: 30px;
    font-weight: 300;
    color: #d4d4d4;
}

.button-cont {
   text-align: center; 
}

.btn-explore {
    width: 166px;
    height: 61px;
    background-color:#18cfab;
    margin-right: 28px;
    font-size: 13.5px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px;
}

.btn-purchase {
    width: 166px;
    height: 61px;
    background-color: #00cbf6;
    font-size: 13.5px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px;
}

/* Секция 2 */
.section-2 {
    display: flex;
    width: auto;
    margin-bottom: 82px;
}

.box-1 {
    background-color: #18CFAB;
    width: 100%; 
    height: 384px;
    display: flex;
    align-items: flex-end;
}

.box-1-1 {
    background-color: #1C2A33;
    width: 100%;
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-1-1-icon {
    background-image: url("../img/icon/Forma1.png");
    width: 58px;
    height: 97px;
    margin-bottom: 48px;
}

.box-1-1-text {
    font-size: 20px;
    font-weight: bold;
    color: #18CFAB;
    text-transform: uppercase;
}

.box-2 {
    background-color: #FFFFFF;
    width: 100%; 
    height: 384px;
    display: flex;
    align-items: flex-end;
}

.box-2-1 {
    background-color: #18CFAB;
    width: 100%;
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-2-1-icon {
    background-image: url("../img/icon/Forma2.png");
    width: 93px;
    height: 75px;
    margin-bottom: 59px;
}

.box-2-1-text {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.box-3 {
    background-color: #18CFAB;
    width: 100%; 
    height: 384px;
    display: flex;
    align-items: flex-end;
}

.box-3-1 {
    background-color: #1c2a33;
    width: 100%;
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-3-1-icon {
    background-image: url("../img/icon/Forma3.png");
    width: 61px;
    height: 96px;
    margin-bottom: 49px;
}

.box-3-1-text {
    font-size: 20px;
    font-weight: bold;
    color: #18CFAB;
    text-transform: uppercase;
}

.box-4 {
    background-color: #ffffff;
    width: 100%; 
    height: 384px;
    display: flex;
    align-items: flex-end;
}

.box-4-1 {
    background-color: #18CFAB;
    width: 100%;
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-4-1-icon {
    background-image: url("../img/icon/Forma4.png");
    width: 99px;
    height: 76px;
    margin-bottom: 59px;
}

.box-4-1-text {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

/* Секция 3 */
.section-3 {
    width: 1140px;
    margin: auto;
    margin-bottom: 105px;
}

.OurServices-title {
    text-align: center;
    font-size: 36px;
    color: #4e4e4e;
    margin-bottom: 37px;
}

.line-box {
    width: 89px;
    height: 6px;
    margin: auto;
    margin-bottom: 70px;
}

.line-1 {
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    border: none;
}

.line-2 {
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    border: none;
}

.section-3-menu {
    width: 1140px;
    height: 73px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}

.section-3-menu-link {
    font-size: 15.5px;
    color: #717171;
    text-decoration: none;
    display: block;
    border: 1px solid #EBECEC;
    padding: 40px;
    background-color: #F8FCFE;
}

.section-3-main {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.block-img {
    background-image: url("../img/graphic_design/graphic1.png");
    width: 194px;
    height: 139px;
}

.block-text {
    width: 946px;
    font-size: 13.5px;
    line-height: 1.81;
    color: #777777;
    text-align: justify;
}

/* Секция 4 */
.section-4 {
    background-image: url("../img/sections_bg/section-2.jpg");
    height: 474px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-4-bg {
    height: 474px;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
}

.everything_is_ready {
    padding-top: 126px;
    font-size: 40.5px;
    font-weight: bold;
    color: #18cfab;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.smooth_reliable {
    font-size: 16px;
    color: #d8d8d8;
    margin-bottom: 76px;
}

.section-4-btn {
    width: 166px;
    height: 61px;
    background-color:#18cfab;
    margin-right: 28px;
    font-size: 13.5px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px;
}

/* Секция 5 */
.section-5 {
    background-color: #F8FCFE;
    margin: auto;
    text-align: center;
    /* padding-bottom: 100px; */
}

.OurAmazing-title {
    font-size: 36px;
    color: #4e4e4e;
    text-align: center;
    padding-top: 97px;
    margin-bottom: 26px;
}

.section-5-menu {
    width: 609px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;
}

.section-5-menu-link {
    font-size: 15.5px;
    color: #717171;
    text-decoration: none;
    display: block;
    border: 1px solid #EBECEC;
    padding: 40px;
    background-color: #F8FCFE;
}

.section-5-grid {
    display: grid;
    width: 1140px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 71px;
}

.box0 {
    background-color: #18cfab;
    width: 285px;
    height: 207px;
    display: flex;
    align-items: flex-end ;
}

.box0-bg {
    background-color: #F8FCFE;
    width: 285px;
    height: 205px;
}

.icon-cont {
    display: flex;
    justify-content: center;
    margin-top: 43px;
    margin-bottom: 34px;
}

.icon-clip {
    background-image: url("../img/icon/Composite1.png");
    width: 41px;
    height: 40px;
    margin-right: 5px;
}

.icon-search {
    background-image: url("../img/icon/Composite2.png");
    width: 42px;
    height: 41px;
}

.CreativeDesign {
    font-size: 14px;
    font-weight: bold;
    color: #18cfab;
    text-align: center;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.WebDesign {
    font-size: 12px;
    font-weight: 500;
    color: #8a8a8a;
    text-align: center;
}

.box1 {
    background-image: url("../img/all/all1.png");
    width: 285px;
    height: 207px;
}

.box2 {
    background-image: url("../img/all/all2.png");
    width: 285px;
    height: 207px;
}

.box3 {
    background-image: url("../img/all/all3.png");
    width: 285px;
    height: 207px;
}

.box4 {
    background-image: url("../img/all/all4.png");
    width: 285px;
    height: 207px;
}

.box5 {
    background-image: url("../img/all/all5.png");
    width: 285px;
    height: 207px;
}

.box6 {
    background-image: url("../img/all/all6.png");
    width: 285px;
    height: 207px;
}

.box7 {
    background-image: url("../img/all/all7.png");
    width: 285px;
    height: 207px;
}

.box8 {
    background-image: url("../img/all/all8.png");
    width: 285px;
    height: 207px;
}

.box9 {
    background-image: url("../img/all/all9.png");
    width: 285px;
    height: 207px;
}

.box10 {
    background-image: url("../img/all/all10.png");
    width: 285px;
    height: 207px;
}

.box11 {
    background-image: url("../img/all/all11.png");
    width: 285px;
    height: 207px;
}

.section-5-btn {
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    display: flex;
    border-radius: 5px;
    text-decoration: none;
    margin: auto;
    align-items: center;
}

.icon-plus {
    background-image: url("../img/icon/icon-plus.png");
    width: 17px;
    height: 17px;
    margin-left: 22px;
    margin-right: 16px;
}

.text-btn {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.section-5-line {
    height: 1px;
    background-color: #E1E1E1;
    border: none;
    margin-top: 100px;
}

/* Секция 6 */
.section-6 {
    width: 1140px;
    margin: auto;
}

.breaking-title {
    padding-top: 84px;
    font-size: 36px;
    color: #4e4e4e;
    margin-bottom: 30px;
    text-align: center;
}

.main-cont {
    height: 605px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 132px;
}

/* Картинка 1 */
.block {
    width: 263px;
    height: 281px;
    background-color: #F8FCFE;
    text-decoration: none;    
}

.block1-img {
    background-image: url("../img/breaking_news/breaking1.png");
    width: 263px;
    height: 208px;
}

.box-date {
    width: 68px;
    height: 66px;
    background-color: #72837f;
    float: right;
    font-size: 15.5px;
    color: #ffffff;
    text-align: center;
}

.block:hover .box-date {
    background-color: #18cfab;
}

.date {
    margin-top: 15px;
    margin-bottom: 7px;
}

.text-cont {
    height: 72px;
    border: 1px solid #ECECEC;
}

.text-amazingImage {
    font-size: 17.5px;
    font-weight: bold;
    color: #717171;
    margin-top: 14px;
    margin-left: 13px;
    margin-bottom: 14px;
}

.block:hover .text-amazingImage {
    color: #18cfab;
}

.text-byAdmin {
    font-size: 13.5px;
    color: #777777;
    margin-left: 17px;
}
/* Картинка 2 */
.block2-img {
    background-image: url("../img/breaking_news/breaking2.png");
    width: 263px;
    height: 208px;
}
/* Картинка 3 */
.block3-img {
    background-image: url("../img/breaking_news/breaking3.png");
    width: 263px;
    height: 208px;
}
/* Картинка 4 */
.block4-img {
    background-image: url("../img/breaking_news/breaking4.png");
    width: 263px;
    height: 208px;
}
/* Картинка 5 */
.block5-img {
    background-image: url("../img/breaking_news/breaking5.png");
    width: 263px;
    height: 208px;
}
/* Картинка 6 */
.block6-img {
    background-image: url("../img/breaking_news/breaking6.png");
    width: 263px;
    height: 208px;
}
/* Картинка 7 */
.block7-img {
    background-image: url("../img/breaking_news/breaking7.png");
    width: 263px;
    height: 208px;
}
/* картинка 8 */
.block8-img {
    background-image: url("../img/breaking_news/breaking8.png");
    width: 263px;
    height: 208px;
}

/* Секция 7 */
.section-7 {
    background-image: url("../img/sections_bg/section-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 852px;
    /* opacity: 0.9; */
}

.section-7-bg {
    height: 852px;
    background-color: rgba(0, 0, 0, .5);    
}


.whatPeople {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    padding-top: 99px;
    padding-bottom: 31px;
}

.quotes {
    margin-top: 69px;
    background-image: url("../img/icon/quotes.png");
    width: 45px;
    height: 31px;
    margin: auto;
    margin-bottom: 44px;
}

.main-tex {
    font-size: 16px;
    line-height: 1.88;
    color: #bbbbbb;
    width: 1140px;
    margin: auto;
    text-align: center;
    margin-bottom: 43px;
}

.hasanAli {
    font-size: 16px;
    font-weight: bold;
    color: #18cfab;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.uxDesigner {
    font-size: 13px;
    color: #bbbbbb;
    text-align: center;
    margin-bottom: 37px;
}

.box-photo {
    background-image: url("../img/people/people0.png");
    width: 142.3px;
    height: 141.4px;
    background-position: center;
    margin: auto;
    border-radius: 50%;
    border: 3px solid #18cfab;
    margin-bottom: 58px;
}

.box-photo::after {
    content: '';
    width: 145.3px;
    height: 144.4px;
    border: 13px solid rgba(24, 207, 171, .1);
    border-radius: 50%;
    display: block;
    margin: -15px -15px;
}

.box-menu-photo {
    width: 481px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.left-arrow-box {
    background-image: url("../img/icon/border.png");
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Как убрать рамку при наведении??? */
.left-arrow-box:hover {
    background-color: #18cfab;
    /* border: none; */
}

/* .left-arrow {
    background-image: url("../img/icon/left-arrow.png");
    width: 8px;
    height: 13px;
    margin-left: 10px;
} */

.photo-1 {
    background-image: url("../img/people/people1.png");
    width: 58.8px;
    height: 58.4px;
    border-radius: 50%;
    border: 4px solid #254B41;
    
}

.photo-2 {
    background-image: url("../img/people/people2.png");
    width: 58.8px;
    height: 58.4px;
    border-radius: 50%;
    border: 4px solid #254B41;
}

.photo-3 {
    background-image: url("../img/people/people3.png");
    width: 58.8px;
    height: 58.4px;
    border-radius: 50%;
    border: 4px solid #254B41;
}

.photo-4 {
    background-image: url("../img/people/people4.png");
    width: 58.8px;
    height: 58.4px;
    border-radius: 50%;
    border: 4px solid #254B41;
}

.right-arrow-box {
    background-image: url("../img/icon/border.png");
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-arrow-box:hover {
    background-color: #18cfab;
}

/* .right-arrow { */
    /* background-image: url("../img/icon/right-arrow.png");
    width: 8px;
    height: 13px;
    margin-left: 12px;
} */