@import "./reset.css";

@font-face {
    font-family: "Verdana-Regular";
    src: url("./../fonts/Verdana.woff");
}

@font-face {
    font-family: "Verdana-Bold";
    src: url("./../fonts/Verdana-Bold.woff");
}

body {
    background-image: url("./../img/background.png");
    background-repeat: no-repeat;
    background-size: 1366px 768px;
    background-position: top;
    width: 1366px;
    height: 719px; 
    /* Почему смещается размер при марджине в меню ? */
    margin: auto;
    font-family: "Verdana-Regular";
}

.container {
    width: 1059px;
    height: 719px;
    margin: auto;
}

/* Меню */
.menu {
    margin-top: 49px;
    width: 1059px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}

.menu-logo {
    display: flex;
}

.menu-logo-link {
    display: flex;
    text-decoration: none;
    width: 165px;
    justify-content: space-between;
}

/* Картинка логотипа */
.menu-logo-img {
    background: url("./../img/logo@1X.png");
    width: 46px;
    height: 44px;
}

/* Ховер картинки логотипа */
.menu-logo:hover .menu-logo-img {
    background: url("./../img/logo@1X\ orange.png");
}

/* Меню текста */
.menu-logo-text {
    display: flex;
    width: 105px;
    height: 44px;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    color: #ffffff;
    font-family: "Verdana-Bold";
}

/* Меню верхнего текста */
.menu-logo-text-upper {
    display: flex;
    font-size: 27px;
    text-transform: uppercase;
    line-height: 0.68;
    /* Почему то не работал флекс ( пришлось в ручную подбирать */
}

.menu-logo:hover .menu-logo-text-upper {
    color: #F26522;
}

/* Меню нижнего текста */
.menu-logo-text-lower {
    display: flex;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 2.24;
    /* Почему то не работал флекс ( пришлось в ручную подбирать */
}

.menu-logo:hover .menu-logo-text-lower {
     color: #F26522;
}

/* Меню контактной информации */
.menu-info {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.menu-info-email {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.17;
    color: #ffffff;
    padding-bottom: 6px;
}

.menu-info-tel {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

/* Тело сайта */
.main {
    display: flex;
    width: 1059px;
    height: 538px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-bottom: 61px;
}

/* Ccылка на картинку и текст */
.main-link-1 {
    text-decoration: none;
}

/* Основной */
.main-1 {
    display: flex;
    flex-direction: column ;
    width: 311px;
    height: 240px;
}

.main-1-img {
    display: flex;
    align-items: flex-end;
    background-image: url("./../img/Card\ 1@1X.png");
    width: 307px;
    height: 200px;
    border: 2px solid;
    border-image: linear-gradient(to top, #000000 0%, #FFFFFF 100%);
    border-image-slice: 1;
    margin-bottom: 22px;
}

/* Главный див для ховер, один на все 6 картинок */
.hover-body {
    display: flex;
    width: 307px;
    height: 62px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: #F26522;
    transition: 1s;
    transform: translateX();
}

/* Ховер при наведении на картинку */
.main-1:hover .hover-body {
    opacity: 1;
    transition:  1s;
    transform: translateX();
}

/* Ховер при наведении на текст под картинкой */
.main-1:hover .main-1-text {
    color: #F26522;
    transition: 1s;
    transform: translateX();
}

/* Внутренний бокс */
.hover-body-box {
    display: flex;
    width: 252px;
    height: 34px;
    justify-content: space-between;
}
/* Контейнер левый */
.hover-body-box-left {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

/* Пешка верхняя */
.hover-body-box-left-from {
    font-size: 10px;
    color: #FFFFFF;
}

/* Пешка нижняя */
.hover-body-box-left-eur {
    font-size: 20px;
    color: #FFFFFF;
}

/* Пешка правая */
.hover-body-box-right {
    display: flex;
    align-items: flex-end;
    color: #ffffff;
    font-size: 14px;
}

.main-1-text {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}

/* Ccылка на картинку и текст */
.main-link-2 {
    text-decoration: none;
}

.main-2 {
    display: flex;
    flex-direction: column ;
    width: 308px;
    height: 240px;
}

.main-2-img {
    display: flex;
    align-items: flex-end;
    background-image: url("./../img/Card\ 2@1X.png");
    width: 308px;
    height: 200px;
    margin-bottom: 22px;
    border: 2px solid;
    border-image: linear-gradient(to top, #000000 0%, #FFFFFF 100%);
    border-image-slice: 1;
}

.main-2-text {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}

/* Ховер при наведении на картинку */
.main-2:hover .hover-body {
    opacity: 1;
    transition:  1s;
    transform: translateX();
}

/* Ховер при наведении на текст под картинкой */
.main-2:hover .main-2-text {
    color: #F26522;
    transition: 1s;
    transform: translateX();
}

/* Ccылка на картинку и текст */
.main-link-3 {
    text-decoration: none;
}

.main-3 {
    display: flex;
    flex-direction: column ;
    width: 307px;
    height: 240px;
}

.main-3-img {
    display: flex;
    align-items: flex-end;
    background-image: url("./../img/Card\ 3@1X.png");
    width: 307px;
    height: 200px;
    border: 2px solid;
    border-image: linear-gradient(to top, #000000 0%, #FFFFFF 100%);
    border-image-slice: 1;
    margin-bottom: 22px;
}

.main-3-text {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}

/* Ховер при наведении на картинку */
.main-3:hover .hover-body {
    opacity: 1;
    transition:  1s;
    transform: translateX();
}

/* Ховер при наведении на текст под картинкой */
.main-3:hover .main-3-text {
    color: #F26522;
    transition: 1s;
    transform: translateX();
}

/* Ccылка на картинку и текст */
.main-link-4 {
    text-decoration: none;
}

.main-4 {
    display: flex;
    flex-direction: column ;
    width: 307px;
    height: 240px;
}

.main-4-img {
    display: flex;
    align-items: flex-end;
    background-image: url("./../img/Card\ 4@1X.png");
    width: 307px;
    height: 200px;
    border: 2px solid;
    border-image: linear-gradient(to top, #000000 0%, #FFFFFF 100%);
    border-image-slice: 1;
    margin-bottom: 22px;
}

.main-4-text {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}

/* Ховер при наведении на картинку */
.main-4:hover .hover-body {
    opacity: 1;
    transition:  1s;
    transform: translateX();
}

/* Ховер при наведении на текст под картинкой */
.main-4:hover .main-4-text {
    color: #F26522;
    transition: 1s;
    transform: translateX();
}

/* Ccылка на картинку и текст */
.main-link-5 {
    text-decoration: none;
}

.main-5 {
    display: flex;
    flex-direction: column ;
    width: 308px;
    height: 240px;
}

.main-5-img {
    display: flex;
    align-items: flex-end;
    background-image: url("./../img/Card\ 5@1X.png");
    width: 308px;
    height: 200px;
    border: 2px solid;
    border-image: linear-gradient(to top, #000000 0%, #FFFFFF 100%);
    border-image-slice: 1;
    margin-bottom: 22px;
}

.main-5-text {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}

/* Ховер при наведении на картинку */
.main-5:hover .hover-body {
    opacity: 1;
    transition:  1s;
    transform: translateX();
}

/* Ховер при наведении на текст под картинкой */
.main-5:hover .main-5-text {
    color: #F26522;
    transition: 1s;
    transform: translateX();
}

/* Ccылка на картинку и текст */
.main-link-6 {
    text-decoration: none;
}

.main-6 {
    display: flex;
    flex-direction: column ;
    width: 307px;
    height: 240px;
}

.main-6-img {
    display: flex;
    align-items: flex-end;
    background-image: url("./../img/Card\ 6@1X.png");
    width: 307px;
    height: 200px;
    border: 2px solid;
    border-image: linear-gradient(to top, #000000 0%, #FFFFFF 100%);
    border-image-slice: 1;
    margin-bottom: 22px;
}

.main-6-text {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}

/* Ховер при наведении на картинку */
.main-6:hover .hover-body {
    opacity: 1;
    transition:  1s;
    transform: translateX();
}

/* Ховер при наведении на текст под картинкой */
.main-6:hover .main-6-text {
    color: #F26522;
    transition: 1s;
    transform: translateX();
}

.footer {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}