@import "./reset.css";

@font-face {
    font-family: "OpenSans-Regular";
    src: url("./../fonts/OpenSans-Regular.woff")
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.woff")
}

body {
    font-family: "OpenSans-Regular", sans-serif;
}

.header-bg {
    background-image: url("./../img/header-bg.jpeg");
    height: 483px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.header {
    height: 70px;
    background-color: #1D2124;
    display: flex;
}

/* Логотип */
.menu-logobox {
    width: 155px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 9px;
    transition: transform .3s;
}

.menu-logobox:hover {
    transform: scale(.9);
    transition: transform .3s;
}

.menu-logobox-logo {
    background-image: url("../img/logo-img.png");
    width: 27px;
    height: 27px;
}

.menu-logobox-text {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 22px;
    color: #ffffff;
}

/* Меню */
.menu {
    width: 6900px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    width: 701px;
    display: flex;
    justify-content: space-around;
}

.menu-link {
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    transition: transform .3s;
}

.menu-link:hover {
    transform: scale(.9);
    transition: transform .3s;
}

/* Поисковик */
.menu-cont-search {
    width: 68px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-cont-search:hover {
    background-color: #171A1C;
}

.search {
    background-image: url("../img/search.png");
    height: 17px;
    width: 17px;
    transition: transform .3s;
}

.menu-cont-search:hover .search {
    transform: scale(.9);
    transition: transform .3s;
}

/* Заголовок */
.header-bg-title {
    margin-top: 127px;
    font-size: 27px;
    color: #ffffff;
    text-transform: uppercase;
}

/* Кнопки */
.header-bg-btn-width {
    display: flex;
    justify-content: center;
}

.header-bg-btn-cont {
    margin-top: 44px;
    width: 360px;
    display: flex;
    justify-content: space-between;
    
}

.btn-subscribeNow {
    width: 170px;
    height: 55px;
    background-color: #89CA62;
    border-radius: 5px;
    border: 1px;
    font-size: 18px;
    color: #ffffff;
    transition: transform .3s;
}

.btn-subscribeNow:hover {
    transform: scale(.9);
    transition: transform .3s;
}

.btn-bestArticles {
    width: 170px;
    height: 55px;
    background-color: #14B9D5;
    border-radius: 5px;
    border: 1px;
    font-size: 18px;
    color: #ffffff;
    transition: transform .3s;
}

.btn-bestArticles:hover {
    transform: scale(.9);
    transition: transform .3s;
}

/* Мэин Most popular posts */
.main {
    height: 1030px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F2F2F2;
}

.main-tit {
    font-size: 27px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #18b4cf;
    margin-top: 60px;
    text-transform: uppercase;
    text-align: center;
}

.main-cont {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    width: 1200px;
    height: 828px;
    margin-top: 52px;
    margin: auto;
}

/* Блок 1 */
.main-cont-box1 {
    width: 370px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    margin-bottom: 32px;
}

/* Одна для всех контейнеров */
.main-link {
    text-decoration: none;
    transition: transform .3s;
    color: #353a3d;
    font-size: 18px;
    font-family: "OpenSans-Bold", sans-serif;
}

.main-link:hover {
    transform: scale(.9);
    transition: transform .3s;
}

.bg1 {
    background-image: url("../img/post-1-img@1X.png");
    width: 370px;
    height: 259px;
}

.text-box1 {
    width: 370px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

/* Блок 2 */
.main-cont-box2 {
    width: 370px;
    height: 441px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 3;
    margin-bottom: 32px;
}

.bg2 {
    background-image: url("../img/post-2-img@1X.png");
    width: 370px;
    height: 379px;
}

.text-box2 {
    width: 370px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

/* Блок 3 */
.main-cont-box3 {
    width: 370px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 5;
    margin-bottom: 32px;
}

.bg3 {
    background-image: url("../img/post-3-img@1X.png");
    width: 370px;
    height: 289px;
}

.text-box3 {
    width: 370px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

/* Блок 4 */
.main-cont-box4 {
    width: 370px;
    height: 321px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
}

.bg4 {
    
    background-image: url("../img/post-4-img@1X.png");
    width: 370px;
    height: 259px;
}

.text-box4 {
    width: 370px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

/* Блок 5 */
.main-cont-box5 {
    width: 370px;
    height: 307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 4;
}

.bg5 {
    background-image: url("../img/post-5-img@1X.png");
    width: 370px;
    height: 246px;
}

.text-box5 {
    width: 370px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

/* Блок 6 */
.main-cont-box6 {
    width: 370px;
    height: 441px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 6;
}

.bg6 {
    background-image: url("../img/post-6-img@1X.png");
    width: 370px;
    height: 379px;
}

.text-box6 {
    width: 370px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

/* Main 2 our most popular clients */
.main2 {
    background-image: url("../img/parallax-bg.jpeg");
    height: 588px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.main2-tit {
    font-size: 32px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 199px;
}

.main2-line {
    border-bottom: 1px solid white;
    height: 20px;
}

.main2-line {
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    border: none;
    margin-top: 55px;
    margin-bottom: 58px;
}

.main2-cont {
    display: grid;
    width: 885px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 76px;
    margin: auto;
}

.national {
    background-image: url("../img/Layer\ 1.png");
    width: 207px;
    height: 28px;
    transition: transform .3s;
}

.national:hover {
    transform: scale(1.4);
    transition: transform .3s;
}

.dryme {
    background-image: url("../img/Layer\ 2.png");
    width: 135px;
    height: 49px;
    transition: transform .3s;
}

.dryme:hover {
    transform: scale(1.4);
    transition: transform .3s;
}

.house {
    background-image: url("../img/Layer\ 3.png");
    width: 172px;
    height: 42px;
    transition: transform .3s;
}

.house:hover {
    transform: scale(1.4);
    transition: transform .3s;
}

.journy {
    background-image: url("../img/Layer\ 4.png");
    width: 141px;
    height: 52px;
    transition: transform .3s;
}

.journy:hover {
    transform: scale(1.4);
    transition: transform .3s;
}

/* Main Top rated */
.main3 {
    text-align: center;
}

.main3-tit {
    font-size: 27px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #18b4cf;
    margin-top: 63px;
    text-transform: uppercase;
}

.main3-cont {
    height: 190px;
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.img1 {
    background-image: url("../img/latest-post-1.png");
    width: 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    background-image: url("../img/latest-post-2.png");
    width: 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    background-image: url("../img/latest-post-3.jpg");
    width: 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img4 {
    background-image: url("../img/latest-post-4.png");
    width: 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img5 {
    background-image: url("../img/latest-post-5.png");
    width: 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img6 {
    background-image: url("../img/latest-post-6.png");
    width: 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img7 {
    background-image: url("../img/latest-post-7.png");
    width: 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hot news */
.main4 {
    width: 1168px;
    height: 1612px;
    margin: 0 auto;
    text-align: center;
}

.main4-tit {
    font-size: 27px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #18b4cf;
    margin-top: 60px;
    text-transform: uppercase;
    margin-bottom: 51px;
}

/* Главный контейенер */
.main4-cont {
    height: 1080px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
    grid-template-areas: 
    "box1 box1 box1 box2"
    "box3 box3 box4 box4"
    "box3 box3 box4 box4"
    "box5 box5 box6 box6"
    "box5 box5 box6 box6"
    "box7 box8 box8 box8";
}

.block1 {
    display: grid;
    width: 856px;
    height: 259px;
    grid-template-columns: 1fr 1fr;
    background-color: #F9F7F7;
    grid-area: box1;
}

.block1-img {
    background-image: url("../img/post-1.png");
    width: 483px;
    height: 259px;
}

.block1-box {
    width: 320px;
    height: 181px;
    display: grid;
    justify-self: center;
    align-self: center;
    text-align: right;
}

.block1-tit {
    font-size: 18px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #353a3d;
}

.block1-text {
    height: 140px;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: #5b6469;
}

.block2 {
    width: 277px;
    height: 259px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #F9F7F7;
    align-items: center;
    grid-area: box2;
}

.block2-img {
    background-image: url("../img/post-2.png");
    width: 277px;
    height: 210px;
}

.block2-tit {
    font-size: 18px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #353a3d;
}

.block3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 554px;
    height: 418px;
    background-color: #F9F7F7;
    grid-area: box3;
}

.block3-img {
    background-image: url("../img/post-3.png");
    width: 554px;
    height: 259px;
}

.block3-box {
    display: grid;
    width: 505px;
    height: 118px;
    text-align: end;
    justify-self: center;
    align-self: center;
}

.block3-tit {
    font-size: 18px;
    font-family: "OpenSans-Bold";
    color: #353a3d;
}

.block3-text {
    align-self: center;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #5b6469;
}

.block4 {
    display: grid;
    width: 554px;
    height: 418px;
    grid-template-rows: 1fr 1fr;
    background-color: #F9F7F7;
    align-items: center;
    text-align: end;
    grid-area: box4;
}

.block4-img {
    background-image: url("../img/post-4.png");
    width: 554px;
    height: 259px;
}

.block4-box {
    display: grid;
    width: 505px;
    height: 118px;
    text-align: end;
    justify-self: center;
    align-self: center;
}

.block4-tit {
    font-size: 18px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #353a3d;
}

.block4-text {
    font-size: 14px;
    align-self: center;
    line-height: 1.5;
    font-weight: 600;
    color: #5b6469;
}

.block5 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 554px;
    height: 418px;
    background-color: #F9F7F7;
    align-items: center;
    text-align: end;
    grid-area: box5;
}

.block5-img {
    background-image: url("../img/post-5.png");
    width: 554px;
    height: 259px;
}

.block5-box {
    display: grid;
    width: 505px;
    height: 118px;
    text-align: end;
    justify-self: center;
    align-self: center;
}

.block5-tit {
    font-size: 18px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #353a3d;
}

.block5-text {
    font-size: 14px;
    align-self: center;
    line-height: 1.5;
    font-weight: 600;
    color: #5b6469;
}

.block6 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 554px;
    height: 418px;
    background-color: #F9F7F7;
    align-items: center;
    text-align: end;
    grid-area: box6;
}

.block6-img {
    background-image: url("../img/post-6.png");
    width: 554px;
    height: 259px;
}

.block6-box {
    display: grid;
    width: 505px;
    height: 118px;
    text-align: end;
    justify-self: center;
    align-self: center;
}

.block6-tit {
    font-size: 18px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #353a3d;
}

.block6-text {
    font-size: 14px;
    align-self: center;
    line-height: 1.5;
    font-weight: 600;
    color: #5b6469;
}

.block7 {
    width: 277px;
    height: 259px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #F9F7F7;
    align-items: center;
    grid-area: box7;
}

.block7-img {
    background-image: url("../img/post-7.png");
    width: 277px;
    height: 210px;
}

.block7-tit {
    font-size: 18px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #353a3d;
}

.block8 {
    display: grid;
    width: 856px;
    height: 259px;
    grid-template-columns: 1fr 1fr;
    background-color: #F9F7F7;
    text-align: center;
    grid-area: box8;
}

.block1-text {
    height: 140px;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: #5b6469;
}

.block8-img {
    background-image: url("../img/post-8.png");
    width: 483px;
    height: 259px;
}

.block8-box {
    width: 320px;
    height: 181px;
    display: grid;
    justify-self: center;
    align-self: center;
    text-align: right;
}

.block8-tit {
    font-size: 18px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #353a3d;
}

.block8-text {
    font-size: 14px;
    align-self: center;
    line-height: 1.5;
    font-weight: 600;
    color: #5b6469;
}

/* Footer */
.footer {
    display: grid;
    margin-top: 71px;
    height: 80px;
    background-color: #1D2124;
    grid-template-rows: 1fr;
    grid-template-columns: 504px 105px;
    align-items: center;
    justify-content: space-around;
}

.footer-text {
    font-size: 13px;
    color: #ffffff;
}

.footer-logo-link {
    display: grid;
    grid-template-columns: 38px 64px;
}

.footer-logo1 {
    background-image: url("../img/footer-logo1.png");
    width: 38px;
    height: 24px;
}

.footer-logo2 {
    background-image: url("../img/footer-logo2.png");
    width: 64px;
    height: 16px;
    margin-left: 3px;
}